<footer class='row clearfix light-background'  id='standard-MSU-footer' role="contentinfo">
  <div class='col-md-9'>
      <div id='standard-footer-site-links'>
          <ul>
              <li>Call for Help: <strong>{{ site.unit.phone }}</strong></li>
              <li><a href='{{ site.unit.contact-addr }}'>Contact Information</a></li>
              <li><a href='{{ site.unit.privacy-addr }}'>Privacy Policy</a></li>
              <li><a href='{{ site.unit.accessibility-addr }}'>Accessibility</a></li>
          </ul>
      </div>
      <div class='clearfix' id='standard-footer-MSU-info'>
          <ul class='msu-info-list'>
                <li>Call MSU: <span class="msu-phone"><strong>(517) 355-1855</strong></span></li>
                <li>Visit: <strong><a href="https://msu.edu">msu.edu</a></strong></li>
                <li>MSU is an affirmative-action, equal-opportunity employer.</li>
                <li class="oie"><a href="https://civilrights.msu.edu/policies/">Notice of Nondiscrimination</a></li>
            </ul>
          <ul class='copyright'>
              <li class='spartans-will'>Spartans Will.</li>
              <li>&#169; Michigan State University</li>
          </ul>
      </div>
  </div>
  <div class='col-md-3' id='standard-footer-MSU-wordmark'>
      <a href='https://www.msu.edu'>
          <img class='screen-msuwordmark' alt='Michigan State University Wordmark'
              width="221"
              src="{{ site.url }}{{ site.baseurl }}/assets/brand/img/msu-wordmark-green.svg"
              onerror="this.src='{{ site.url }}{{ site.baseurl }}/assets/brand/img/msu-wordmark-green-221x47.png'">
          <img class='print-msuwordmark' alt='Michigan State University Wordmark'
          src='{{ site.url }}{{ site.baseurl }}/assets/brand/img/msu-wordmark-black-221x47.png'>
      </a>
  </div>
</footer>