<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/brand/css/MSUBootstrap.css">
  {% if page.layout == 'post' %}<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/posts.css">
  {% endif %}
  {% if page.layout == 'default' %}<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/default.css">
  {% endif %}
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css">
  {%- include icon.html -%}
  <title>{%- include title.html -%}</title>
</head>
