<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/assets/brand/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/assets/brand/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/assets/brand/icon/favicon-16x16.png">
<link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/assets/brand/icon/site.webmanifest">
<link rel="mask-icon" href="{{ site.url }}{{ site.baseurl }}/assets/brand/icon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/assets/brand/icon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ site.url }}{{ site.baseurl }}/assets/brand/icon/browserconfig.xml">
<meta name="theme-color" content="#18453B">