{%- comment -%}
You can easily embed a jumbotron anywhere via:
	{% include jumbotron.html %}

Configuration:
	jumbotron_enable: true
	jumbotron_title: "Jumbotron title"
	jumbotron_desc: "Jumbotron description"

{%- endcomment -%}
{%- if page.jumbotron_enable -%}
<div class="jumbotron">
    <h1>{{ page.jumbotron_title }}</h1>

    <p class="lead">{{ page.jumbotron_desc }}</p>
</div>
{% endif %}