<nav id="msu-masthead" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-search-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
            <a class="msu-masthead-image" href="https://msu.edu" title="Michigan State University">
                <img class="screen-msugraphic" alt="Michigan State University"
                    src="{{ site.url }}{{ site.baseurl }}/assets/brand/img/masthead-helmet-green.svg"
                    onerror="this.src='{{ site.url }}{{ site.baseurl }}/assets/brand/img/masthead-helmet-green.png'">
            </a>
            <div class="row">
                {% include unit-title.html %}
            </div>
            </div>
        </div>
        <div class="navbar-right">
          {% include search.html %}
        </div>
    </div>
</nav>
