<section class="content">
    <ul>
        {% for post in site.posts %}
        <li>
          <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}, </a>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
        </li>
        {% endfor %}
    </ul>
</section>