<div class="collapse navbar-collapse" id="navbar-search-collapse">
    <form action="https://u.search.msu.edu/index.php" method="get" class="navbar-form" role="search" >
        <div class="form-group">
            <input type="hidden" name="client" value="{{ site.unit.name }}">
            <input type="hidden" name="sitesearch" value="{{ site.unit.domain }}" />
            <label for="globalsearch" class="sr-only">Search MSU</label>
            <div class="input-group" style="width: 330px;">
                <input type="text" accesskey="4" id="globalsearch" name="q" class="form-control" placeholder="Search for people, places, and things">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search" role="presentation"></span>
                        <span class="sr-only">Search</span>
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>
