// While not directly applicable, may be useful: https://gist.github.com/dmoruzzi/0e07b525f71b3a024c32a45387bd34d6

$bronze:          #835d41;
$msu-green:       #18453B;
$light-bkg-green: #4c7e00;
$dark-bkg-green:  #84d123;
$headings-color:  $msu-green; // Formerly #00723f

//## Gray and brand colors for use across Bootstrap.
$gray-base:              #000;
$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              lighten(#000, 20%);   // #333
$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             lighten(#000, 60%);   // #999
$gray-lighter:           lighten(#000, 93.5%); // #eee

// Accent colors
// -------------------------
$blue:                  #6dcff6;
$blueDark:              #007DC5;
$green:                 #5ca038;
$red:                   #C41425;
$yellow:                #E8B909;
$orange:                #DC651E;
$pink:                  #f8abad;
$purple:                #7C1746;
$white:                 #ffffff;

// Brand colors
// -------------------------

$brand-primary:         $msu-green;
$brand-success:         $green;
$brand-info:            #5bc0de;
$brand-warning:         $yellow;
$brand-danger:          $red;
