---
---
@import "_variables";

.unit-title {
  font-size: 150%;
  font-family: GothamMedium, GothamThin;
  font-style: normal;
  text-transform: none;
  float: left !important;
  margin: 0 0 0 2em;
}

@media (min-width: 768px) and (max-width: 991px) {
  .copyright {
    margin-top: 2em !important;
  }
}

.oie {
  text-transform: capitalize !important;
}
