---
---
@import "_variables";

.desktop-nav {
	background: $msu-green;
	display: block;
	p {
		color: $white;
		padding: 8px 0 0 3px;
		a {
			color: $white;
			line-height: 1.5;
		}
	}
}
.author {
	p {
		margin: 0 1em;
	}
	hr {
		margin: 0 0 1em;
	}
}