<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  {% include content-skip.html %}
  {% include masthead.html %}
  {%- include divider.html -%}
  {%- if page.layout == "default" -%}<div class="container" id="content" role="main">
  {% endif %}
    {{ content }}
  {% include footer.html %}
  </div>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
</body>
</html>
