---
layout: default
---
<div class="container">
<h1>{{ page.title }}</h1>
{% if page.author %}<div class="author">
  <p>{{ page.author }}</p>
  <hr>
</div>
{% endif %}
<div id="content" role="main">
{{ content }}
</div>